@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.child{
    
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;  
    border-radius: 50px;
}

.container{
    /* para centralizar */
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    /* height: 300px; */
  align-items: center;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/waffles.jpg"); */
  

 /* para ocupar toda la pantalla */
  height: 100vh;
}

.contenedor{
     background-color: green;
    overflow: "visible" !important;
 width: 100% ;
  /* para ocupar toda la pantalla */
   height: 100% ;
}


.first {
    width: 50%;
    height: 100%;
    float:left; /* add this */
}

.second {
    float: right; /* add this */
    height: 50%;
    overflow: hidden; /* if you don't want #second to wrap below #first */

    background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url(../../assets/waffles.jpg);
}

.celda{
    width: 900px;
    height: 100%;
    /* background-color: red; */
    /* display: inline-block; */
    /* vertical-align: top; */
    
}

.pic{
    width: 50%;
    height: 50%;
    /* background: linear-gradient(rgba(0,130,170,0),rgba(0,130,170,1))
    url(../../assets/waffles.jpg); */

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    background: linear-gradient(to right, rgba(255,255,255,1) 10%,
              rgba(255,255,255,0)), url(../../assets/waffles.jpg);
    object-fit: cover;
}

.otro{
    width: 100%;
    height: 100%;
    vertical-align: top;
    /* background-color: aqua; */
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;  
    background-color: white;
    border-radius: 50px;

    overflow: hidden; /* will contain if #first is longer than #second */
}

.perfil{
  /* background-image: url(../../assets/waffles.jpg); */
  background-size:cover;
  background-position:center;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    min-width: 85px;
    object-fit: cover;
}

.size{
    width: 10%;
    /* font-size: 12px; */
    vertical-align: middle;
}

table.cabeza{
    width:100%;
    border-collapse:collapse;
    
    
}
.adentro{
    
}

td.headCell{
    width: 50%;
    text-align: center;
    
    /* border: 1px solid black; */
}

.space{
    padding-top: 10px;
    padding-left: 10px;
    
}

.pad{
    padding: 10px;
    text-align: left;
}

table.bigTable{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.arrow{
    width: 100%;
    height: 25%;
}

.boton{
    width: 100%;
    height: 100%;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.color{
    background-color: greenyellow;
    width: 100%;
}