@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.child{
    
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;  
    border-radius: 50px;
}

.container{
    /* para centralizar */
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    /* height: 300px; */
  align-items: center;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/waffles.jpg");
  

 /* para ocupar toda la pantalla */
  height: 100vh;
}

.contenedor{
     /* para centralizar */
     display: flex;           
     flex-direction: column;  
     justify-content: center; 
     align-items: center;     
     /* height: 300px; */
  
 
   background-position: center !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   background-color: aqua;
   /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/waffles.jpg"); */
   
 width: 100vh;
  /* para ocupar toda la pantalla */
   height: 100vh;
}


.first {
    width: 50%;
    height: 100%;
    float:left; /* add this */
}

.second {
    float: rigth; /* add this */
    height: 100%;
    overflow: hidden; /* if you don't want #second to wrap below #first */

    background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url(../../assets/waffles.jpg);
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;  
    background-color: white;
    border-radius: 50px;

    overflow: hidden; /* will contain if #first is longer than #second */
}

.profilePic{
  background-image: url(../../assets/waffles.jpg);
  background-size:cover;
  background-position:center;
    border-radius: 50%;
    width: 10%;
    height: 100%;
    min-width: 85px;
}

table.cabeza{
    width:100%;
    border-collapse:collapse;
    
    
}

td.headCell{
    width: 50%;
    text-align: center;
    /* border: 1px solid black; */
}

.space{
    padding-top: 10px;
    padding-left: 10px;
    
}

.pad{
    padding: 10px;
    text-align: left;
}

table.bigTable{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.arrow{
    width: 100%;
    height: 25%;
}

.boton{
    width: 100%;
    height: 100%;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.color{
    background-color: red;
}