@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.containerWholeTrend{
    float: left;
    padding-left: 10px;    
}
.trendingBox {
    position: relative;
    width: 700px;
    height: 350px;
    top: 100px;
    z-index: 1;

    text-align: center;
    padding-top: 15px;

    background: #FFFFFF;
    border-radius: 20px;
}

.trendingBox img{
    width: 50px;
    padding-left: 10px;
}

.font {
    font-family: Roboto;
    font-style: bold;
    font-weight: 900;
    font-size: 40px;

    color: #000000;
}

.trendingText{

    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    /* height: 300px; */
  align-items: center;
  
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    padding-left: 10px;

    color: #000000;
}

.filters{
    position: relative;
    padding: 0px 0px;
}


.filters img{
    width: 100%;
    height: 100%;
}
.filters button{
    width: 100%;
    height: 100%;
}

.filterTable{
    position: relative;
    top: 80px;
}
.filterTable td{
    position: relative;
    width: 170px;
    height: 170px;
    float: left;
}

.filterTable td button{
    width: 100%;
    height: 100%;
}
/* .suggested {
    padding-left: 5%;
    padding-top: 10%;
} */


.suggested {
    position: relative;
    width: 463px;
    height: 500px;
    top: 100px;
    left: 5px;
    z-index: 1;

    text-align: center;
    /* padding-top: 20px; */

    background: #FFFFFF;
    border-radius: 15px;

}

.thePostConatainer {
    position: relative;
    width: 225px;
    height: 250px;
    
    padding: 0px 0px 0px 0px;
    border: 0.5px solid black;
}

.thePostConatainer:nth-child(odd) {
    float: left;
  }

  .thePostConatainer:nth-child(even) {
    float: right;
  }

.thePostConatainer td{
    /* border: 0.5px solid black; */
    border-collapse: collapse;
    float: left;

}

#photoTD{
    position: relative;
    width: 226px;
    height: 175px;
    padding: 0px 0px 0px 0px;
    
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("../../assets/photo-singlePost.jpg");
}

#sizingPostBTN{
   width: 100%;
   height: 100%;
}


#postPhoto {
    width: 200px;
    height: auto;
    display: block;
    
}

#upvotePhoto {
    width: 100%;
    height: 100%;
}

#upvoteBTN {
    width: 40px;
}

#profilePhoto {
    width: 100%;
    height: 100%;
    
}

#profileBTN {
    width: 39px;
}

#count{
    height: 50px;
    float: right;
    vertical-align: middle;
}

h4{
    height: 5px;
    display: inline;
    text-align: center;
    vertical-align: middle;
}