@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
    position: absolute;
    width: 100%;
    height: 79px;
    left: 0px;
    top: -1px;


    background: rgb(255, 153, 0);
}

.title {
    position: absolute;
    width: 194px;
    height: 56px;
    left: 44px;
    top: 10px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

.explore {
    position: relative;
    width: 60px;
    height: 60px;
    float: right;
    /* right: 5%;
    top: 3px; */

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(assets/exploreIMG.png);
}

.profile {
    position: relative;
    width: 60px;
    height: 60px;
    float: right;
    /* right: 0.5%;
    top: 3px; */

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(assets/profileIMG.png);
}

body {
    background: #000000;
    height: 100%;
}