@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.trendingBox {
    position: absolute;
    width: 786px;
    height: 500px;
    left: 82px;
    top: 147px;
    z-index: 1;

    text-align: center;
    padding-top: 20px;

    background: #FFFFFF;
    border-radius: 40px;
}

.font {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;

    color: #000000;
}

.trendingText{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 57px;

    color: #000000;
}