@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
    position: absolute;
    width: 100%;
    height: 79px;
    left: 0px;
    top: -1px;


    background: #F1821B;
}

.title {
    position: absolute;
    width: 194px;
    height: 56px;
    left: 44px;
    top: 10px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

.explore {
    position: absolute;
    width: 93px;
    height: 95px;
    right: 5%;
    top: 3px;

    background: url(assets/exploreIMG.png);
}

.profile {
    position: absolute;
    width: 93px;
    height: 95px;
    right: 0.5%;
    top: 3px;

    background: url(assets/profileIMG.png);
}

body {
    background: #000000;
    height: 100%;
}