@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.rectanglePopup{
    position: absolute;
    width: 450px;
    height: 550px;
    left: 75%;
    top: 10px;
    
    text-align: center;
    vertical-align: middle;

    background: #ffffff;
    border-radius: 80px;
}

.userIcon {
    width: 166px;
    height: 158px;
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background: url(../../assets/profileIMG.png);
}

.profPic {
    position: relative;
    width: 100px;
    height: 100px;
    left: 10%;
    top: 10%;

    background-size: cover !important;
    background-position: center !important;

    background: url(../../assets/waffles.jpg);
    border-radius: 200px;
}

/* edit profile */


.boxButton {
    position: relative;
    width: 246px;
    height: 50px;
    top: 20%;
    /*left: 1093px;*/

    margin: 20px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-size: 32px;
    font-weight: bold !important;
    text-align: center;
    color: #FFFFFF !important;

    background: #F1821B !important;
    border-radius: 10px;
}

.text{
    position: absolute;
    width: 246px;
    height: 50px;
    left: 80%;
    top: 30%;


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;

    top: 78px;
    background-position: center !important;

    background: #464343;
    opacity: 0.75;
}