@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.rectanglePopup{
    position: static;
    width: 450px;
    height: 500px;

    top: 10%;
    right: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffffd3;
    border-radius: 80px;
    
}

.profile {  
    position: relative;
    width: 70px;
    height: 70px;
    float: right;
    top: 20% !important;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(../../assets/profileIMG.png);
}


.profPic {
    position: relative;
    width: 100px;
    height: 100px;

    background-size: cover !important;
    background-position: center !important;

    background: url(../../assets/waffles.jpg);
    border-radius: 200px;
}

/* edit profile */
.boxButton {
    position: relative;
    width: 246px;
    height: 50px;
    top: 20%;


    margin: 10px;
    font-family: Roboto;
    font-style: normal !important;
    font-size: 32px;
    font-weight: bold ;
    text-align: center;
    color: #FFFFFF !important;

    background: #F1821B !important;
    border-radius: 10px;
}
.rec{
    position: absolute;
    width: 550px;
    height: 200px;
    left: 13%;
    top: 85%;
}
.ppButton {
    position: relative;
    width: 100%;
    height: 100px;
    top: 15%;
 
    background: transparent;
    font-family: Roboto !important;
    font-style: normal !important;
    font-size: 50px;
    font-weight: bold !important;
    text-align: center;
    color: #000000 !important;

}

.text{
    position: absolute;
    width: 246px;
    height: 50px;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center !important;

    color: #000000;
}

.background{
    position: absolute;
    width: 80%;
    height: 100%;

    top: 78px;
    background-position: center !important;

    background: #000000;
    opacity: 0.90;
}

.profEdit {
    position: fixed;
    width: 1128px !important;
    height: 740px !important;
    left: 156px;
    top: 169px;
    
    background: #FFFFFF;
    border-radius: 80px;
  }
  

  .rectangleE{
    position: fixed;
    width: 600px;
    height: 535px;
    right: 50%;
    left: 35%;
    top: 20%;
    
    text-align: center;
    vertical-align: middle;

    background: #fffdfd;
    background-attachment: center;
    border-radius: 80px;
    

}

.saveb{
    /* position: fixed; */
    width: 400px;
    height: 60px;

    /* left:30%;
    right: 30%; */

    margin: 10px !important;
    font-family: Roboto;
    font-style: normal !important;
    font-size: 36px;
    font-weight: bold ;
    text-align: center;
    color: #ffffff !important;


    background: #F1821B;
    border-radius: 10px;

}

.profPicb {

    width: 250px;
    height: 250px;


    background-size: cover !important;
    background-position: center !important;

    background: url(../../assets/waffles.jpg);
    border-radius: 200px;

}

.txt{
    width: 383px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

    color: #000000;

}
.close{
    position: absolute;
    width: 80px;
    height: 74px;
    left: 85%;
    top: 5%;


    background-size: cover !important;
    background-position: center !important;


    background: url(../../assets/closeIcon.png);
}